#adopttitle {
  text-align: center;
  width: 100%;


}

#paragraph {
  font-size: 20px;

}

#after {
  text-align: center;
  background-color: #9FBAD3;
  padding: 40px;
  outline: 3px solid black;

}

#adoption {
  text-align: center;
  background-color: #9FBAD3;
  padding: 40px;
  outline: 3px solid black;

}

#dropdown {
  margin-bottom: 30px;

}

img.rounded-corners {

  border-radius: 30px;

}

.donatebanner {
  border-radius:25px;
  margin-top:-10px;
  
}
.centered {
  position:absolute;
  top:90%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.container .banner {
  position: relative;
  text-align: center;
  color: white;
}

.donate {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color:darkred;
  font-size:55px;
  margin-top:3%;
}

#one {
  border: 2px solid grey;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 50px;
  color:darkred;
}

.money {
  margin-top: 30px;
}

.info {
  padding-left:50px;
  padding-right:100px;
  margin-top:5%;


}

.col-4.text-center .row .col-12 {
  margin-top:20px;

}

.row .col-12.text-center {
  margin-top:20px;
}