.banner {
font-family: 'Paralucent', sans-serif;
color: #4D79C4;
font-weight: bold;
font-style: italic;
font-size: 150px;
text-align: middle;
margin-top:20px;
margin-bottom: 20px;
}



#logoimage {
  margin-top:20px;
  margin-bottom: 20px;
}


#full {
  width: 100%;
  overflow: auto;
  clear: both;
}

  #bannerleft {
    float:left;
    width: 50%;
    background: #9FBAD3;
    color:white;
    text-align: left;
    font-size: 20px;
    
  
  }

  #bannerright {
    float:left;
    width: 50%;
    background: #9FBAD3;
    color:white;
    text-align:right;
    font-size: 20px;
    
  }

 

  #bannerimage {
    max-width: 97%;
    height: 500px;
    margin-left:17px;
  }

  #grey {
    width:100%;
    margin-top:20px;

  }

  .about {
    font-size: 42px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

  .text {
    font-size: 30px; 
    font-family: 'Noto Sans JP', sans-serif;
    text-indent: 50px;
  }

  #feeding {
    width:100%;
    margin-top:20px;

  }

  #footer {
    text-align: center;
    color:white;
    padding: 25px;
      }

.blue {
  background-color: #9FBAD3;
  margin-top:20px;
}
 
#head {
  float:left;
    width: 25%;
}

#title {
  float:left;
    width: 75%

}

img.img-fluid.nonprofit-logo {
  max-width: 50%;
  height: 50px;
}

.logoname {
font-family: 'Paralucent', sans-serif;
color: #4D79C4;
font-weight: bold;
font-style: italic;
font-size: 13px;
text-align: center;
}

#bannertitle {
  font-size: 35px;
  color:pink;
  font-family: 'Paralucent', sans-serif;
  padding: 0.2em;
  
  background-color:rgba(0, 0, 0, 0.2);
}

#navbartext {
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
color:grey;
font-weight: bold;

  
}



#ourteamtext {
  font-size: 50px;
  text-align: center;
}

#contactimg {
  margin-right:20px;
  max-width: 100%;
}

#hours {
  background-color: #f2e2f0;
  outline-color: black;
  text-align: center;
}


.pagination {
  float: right;
}

#welcome {
font-family: 'Paralucent', sans-serif;
color:#9FBAD3;;
font-weight: bold;
font-style: italic;
margin-top:20px;
margin-bottom: 20px;
text-align: center;
width: 100%;
}

#signup {
  text-align: center;
  width: 100%;  
  margin-top:15px;
  margin-bottom:15px;
}

#form1 {
  margin-top:50px;
  margin-bottom:50px;
  padding-left:40px;
  padding-right:40px;
}
#form2 {
  margin-top:20px;
  padding-left:40px;
  padding-right:40px;
}



.forgot {
  text-align: right;
}

#account {
  margin-top:5px;
  color:red;
}
@media only screen and (min-width: 400px) {

  
  #welcome {
    font-size: 60px;
  }
  .connect {
    font-size: 15px;
  }

  .pagecontent p {
    
    font-size: 20px;
  }

  .pagecontent h1 {
    font-size: 30px; 
  }

  .adopttitle h1 {
    font-size: 25px;
  }

  .contactus h2 {
    font-size: 20px;
  }

  .process h2 {
    font-size: 20px;
  }
  .knowledge h2 {
    font-size: 20px;
  }

  .contactsize h3  {
    font-size: 20px;
  }
   .contactsize p {
     font-size: 25px;
   }

   .ourteamparagraph p {
     font-size: 18px;
   }

   .ourteamparagraph h1 {
     font-size: 30px;
   }
@media only screen and (min-width: 768px) {

  
  
  .connect {
    font-size: 15px;
  }
  
  .pagecontent p 
    
    {font-size: 20px;
  }

  .pagecontent h1 {
    font-size: 30px; 
  }

  .adopttitle h1 {
    font-size: 30px;
  }
  .contactus h2 {
    font-size: 25px;
  }
  .process h2 {
    font-size: 25px;
  }

  .knowledge h2 {
    font-size: 25px;
  }

  .ourteamparagraph p {
    font-size: 20px;
  }
@media only screen and (min-width: 1024px) {
  #welcome {
    font-size: 90px;
  }
  .connect {
    font-size: 20px;
  }
  .pagecontent p {
    
    font-size: 30px;
  }

  .pagecontent h1 {
    font-size: 40px; 
  }

  .adopttitle h1 {
    font-size: 50px;
  }

  .contactus h2 {
    font-size: 30px;
  }

  .pagination {
    float: right;
  }
  .process h2 {
    font-size: 35px;
  }

  .knowledge h2 {
    font-size: 32px;
  }
  .contactsize p {
    font-size: 35px;
  }

  .contactsize h3  {
    font-size: 25px;
  }
  
  .ourteamparagraph p {
    font-size: 30px;
  }

  .ourteamparagraph h1 {
    font-size: 35px;
  }